mixin art()
  .art
    .container
      figure.art__wrapper(data-animate-img="parallax")
        +picture('content', 'michael-kors-dreamland', 'jpg', '1312', '753', '“Dreamland” Michael Kors, 2019.')
        figcaption “Dreamland” Michael Kors, 2019
