mixin intro()
  section.intro
    .container
      .intro__wrapper
        +title({tag: "h1", text: "New Wave Art Gallery"}).title--h1.title--white
        .intro__description
          p Dive into the art with us.
    +slider()


