mixin map()
  section.map#visit-us
    .container
      +title({tag: 'h2', text: 'Visit us'}).map__title.title--h2.title--violet
      .map__text
        p
          | We invite you to join us on this exciting journey as
          |
          span we celebrate the beauty and diversity of contemporary art.
          |
          | Visit us at our new gallery and experience the power of art for yourself.
      #map
