.art {
  background-color: $color-default-white;
  color: $color-eclipse;
  margin-top: size(7px);

  &__wrapper {
    display: block;
    margin: 0;
    font-family: $ff-nunito;
    font-style: italic;
    font-weight: 400;
    font-size: size(18px);
    line-height: size(18px);

    picture {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1.2);
    }

    figcaption {
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      font-style: inherit;
      margin-top: size(14px);

      @include vp-1023 {
        font-size: size(18px);
        line-height: size(18px);
        margin-top: size(22px);
      }
    }
  }
}
