@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/Nunito-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/Nunito-Italic.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/Nunito-Medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Nunito";

  font-display: swap;
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "SpaceGrotesk";

  font-display: swap;
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
}
