include ./base/header
include ./base/footer

include ./utils/icon
include ./utils/img
include ./utils/picture

include ./blocks/intro
include ./blocks/exhibitions
include ./blocks/flying-pictures
include ./blocks/slider
include ./blocks/art
include ./blocks/pure-art
include ./blocks/preloader
include ./blocks/map
include ./blocks/social
include ./blocks/feel-art
include ./blocks/block-with-sticky

include ./mixins/btn
include ./mixins/title
include ./mixins/image-card
include ./mixins/page-content
include ./mixins/page-section
include ./mixins/inner-slider
include ./mixins/inner-slide
include ./mixins/moving-sticky-block
include ./mixins/sticky-block
